<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>MyCar</title>

        <style>
            body {
                margin: 0 0 0 0;
                -webkit-touch-callout: none;
                -webkit-user-select:none
            }
            .page {
                position:absolute; 
                width:100%; 
                height:65%; 
                top:10%;
            }
            table {
                width:100%;
                height:100%;
            }
            .button_ctl img {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>

    <body>
        <div class="page">

            <table border="0" cellpadding="3" cellspacing="0">
                <tr>
                    <th></th>
                    <th id="up" class="button_ctl"><img src="static/up.png"/></th>
                    <th></th>
                </tr>
                <tr>
                    <th id="left" class="button_ctl"><img src="static/left.png"/></th>
                    <th id="stop" class="button_ctl"><img src="static/stop.png"/></th>
                    <th id="right" class="button_ctl"><img src="static/right.png"/></th>
                </tr>
                <tr>
                    <th></th>
                    <th id="down" class="button_ctl"><img src="static/down.png"/></th>
                    <th></th>
                </tr>
            </table>

        </div>
        <script>
            var conn = null;
            window.onload = function() {
                if (window.MozWebSocket) {
                    window.WebSocket = window.MozWebSocket;
                }

                connectServer();

                // 控制动作

                var button_ctl = document.getElementsByClassName('button_ctl');

                // 绑定事件
                for(i=0,j=button_ctl.length; i<j; i++) {
                    // 方向控制
                    button_ctl[i].addEventListener("touchstart", control_handle, false);
                    button_ctl[i].addEventListener("onclick", control_handle, false);

                    // 停止
                    button_ctl[i].addEventListener("touchend", stop, false);
                    button_ctl[i].addEventListener("touchcancel", stop, false);
                }
            }

            // 链接
            function connectServer() {
                var host = window.location.hostname;
                var port = '7000';
                
                try {
                    server = new WebSocket('ws://'+host+':'+port);    
                } catch(err) {
                    console.log(err); 
                }
                conn = server;

                // 链接
                server.onopen = function () {
                };

                // 关闭链接
                server.onclose = function (event) {
                    stop();
                };

                // 收到数据
                server.onmessage = function (event) {
                    
                };

                // 错误
                server.onerror = function (event) {
                    console.log('error');
                    if (conn.redayState != WebSocket.OPEN) {
                        connectServer();
                    }
                }
            }

            // 控制方法
            function control_handle(event) {

                if (!conn || conn.redayState != conn.OPEN) {
                    console.log(conn);
                    console.log(conn.readyState);
                    //connectServer();
                }

                var action_list = ['stop', 'up', 'down', 'left', 'right'];
                eid = event.target.parentElement.id;
                if (eid.length > 0 || action_list.indexOf(eid) >= 0) {
                    conn.send(eid);
                } else {
                    stop();
                }
            }

            //停止
            function stop(){
                conn.send("stop");
            }

        </script>
    </body>
</html>
